<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.depromeet.hay.mapper.ArticleMapper">

    <insert id="add" parameterType="com.depromeet.hay.domain.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (title, content, weather, location, author) VALUES (#{title}, #{content}, #{weather}, #{location}, #{author});
    </insert>

    <select id="getArticle" parameterType="java.lang.Integer" resultType="com.depromeet.hay.domain.Article">
        SELECT * FROM article WHERE id = #{id};
    </select>
    
    <select id="getAllArticles" resultType="com.depromeet.hay.domain.Article">
    	SELECT * FROM article;
    </select>
    
    <delete id="deleteArticle" parameterType="java.lang.Integer">
    	DELETE FROM article WHERE id = #{id};
    </delete>
    
    <delete id="deleteAll">
        DELETE FROM article;
    </delete>
</mapper>