<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.depromeet.hay.mapper.MemberMapper">

    <insert id="add" parameterType="com.depromeet.hay.domain.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (email, password) VALUES (#{email}, #{password});
    </insert>
    
    <select id="getById" parameterType="java.lang.Integer" resultType="com.depromeet.hay.domain.Member">
        SELECT * FROM member WHERE id = #{id};
    </select>
    
    <select id="getByEmailOrName" parameterType="java.lang.String" resultType="com.depromeet.hay.domain.Member">
        SELECT * FROM member WHERE (SELECT SUBSTRING_INDEX(email, '@', 1)) = #{email} OR name = #{name};
    </select>
    
    <update id="modifyMember" parameterType="com.depromeet.hay.domain.Member">
   		UPDATE Member SET
   			email = #{email},
   			password = #{password}
   		WHERE id = #{id}; 
    </update>
    
    <delete id="deleteAll">
        DELETE FROM member;
    </delete>

    <select id="getFollowers" parameterType="java.lang.Integer" resultType="com.depromeet.hay.domain.Member">
        SELECT m.* FROM member AS m INNER JOIN follow AS f ON m.id = f.follower
        WHERE f.following = #{id};
    </select>

    <select id="getFollowings" parameterType="java.lang.Integer" resultType="com.depromeet.hay.domain.Member">
        SELECT m.* FROM member AS m INNER JOIN follow AS f ON m.id = f.following
        WHERE f.follower = #{id};
    </select>
</mapper>